.Dashboard{
  display: flex;
  gap: 20px;
}
.Dashboard--content{
  background: #fff;
  flex: 1;
  border-radius: 20px;
  padding: 1.5rem;
  display: flex;
  gap: 1.9rem;
  justify-content: space-between;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}
body{
    background: #dde6ed;
    padding: 20px;
}